<html>
  <head>
    <title>test</title>
    <script>
    console.log(document.cookie)
    console.log('aaaaaaa')
    </script>
  </head>
  <body>
    <h1>
      {{.Title}}
    </h1>
    {{template "test1" .}}
    {{.cnt}}
  </body>
</html>